<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application>
        <service
                android:name="com.hinnka.mycamera.phantom.PhantomTileService"
                android:label="@string/ghost_mode"
                android:icon="@drawable/ghost_solid"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
