<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <service
                android:name="com.hinnka.mycamera.phantom.PhantomTileService"
                android:label="@string/ghost_mode"
                android:icon="@drawable/ghost_solid"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:name=".screencapture.ScreenCapturePipActivity"
            android:exported="false"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/Theme.MyCamera" />
        <activity
            android:name=".screencapture.ScreenCapturePermissionActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:taskAffinity=":screencapture"
            android:theme="@style/Theme.MyCamera.Transparent" />
        <service
            android:name=".screencapture.ScreenCaptureForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
</manifest>
